#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-sticky {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(0, -100%, 0);
  transition: none;
  z-index: 20;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}